body{
  font-family:sans-serif;
  background:#f5f5f5;
  padding:30px;
}

.container{
  max-width:800px;
  margin:auto;
}

input,
select,
textarea{
  width:100%;
  padding:10px;
  margin-bottom:20px;
}

textarea{
  height:150px;
}

#card-preview{
  background:white;
  padding:30px;
  border-radius:12px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  min-height:250px;
}

#preview-message{
  white-space: pre-wrap;
}

button{
  margin-top:20px;
  padding:12px 20px;
  cursor:pointer;
}

#char-count{
  text-align:right;
  margin-top:-10px;
  margin-bottom:20px;
  color:#666;
}

#preview-message{
  white-space: pre-wrap;
  text-align:left;
  line-height:1.8;
}